In [ ]:
#Edits

In [60]:
import pandas as pd

In [71]:
data=pd.read_csv("mymoviedb.csv",  engine="python")

In [76]:
data[['Vote_Average','Vote_Count']] = data[['Vote_Average','Vote_Count']].astype(float)

In [77]:
data.describe()

        Popularity    Vote_Count  Vote_Average
count  9826.000000   9826.000000   9826.000000
mean     40.324424   1392.943721      6.439467
std     108.879284   2611.303856      1.129797
min      13.350000      0.000000      0.000000
25%      16.130000    146.000000      5.900000
50%      21.195000    444.000000      6.500000
75%      35.177500   1376.000000      7.100000
max    5083.950000  31077.000000     10.000000

In [78]:
data

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021-12-15,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.95,8940.0,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022-03-01,The Batman,"In his second year of fighting crime, Batman u...",3827.66,1151.0,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022-02-25,No Exit,Stranded at a rest stop in the mountains durin...,2618.09,122.0,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021-11-24,Encanto,"The tale of an extraordinary family, the Madri...",2402.20,5076.0,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021-12-22,The King's Man,As a collection of history's worst tyrants and...,1895.51,1793.0,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...
...,...,...,...,...,...,...,...,...,...
9821,1973-10-15,Badlands,A dramatization of the Starkweather-Fugate kil...,13.36,896.0,7.6,en,"Drama, Crime",https://image.tmdb.org/t/p/original/z81rBzHNgi...
9822,2020-10-01,Violent Delights,A female vampire falls in love with a man she ...,13.36,8.0,3.5,es,Horror,https://image.tmdb.org/t/p/original/4b6HY7rud6...
9823,2016-05-06,The Offering,When young and successful reporter Jamie finds...,13.36,94.0,5.0,en,"Mystery, Thriller, Horror",https://image.tmdb.org/t/p/original/h4uMM1wOhz...
9824,2021-03-31,The United States vs. Billie Holiday,Billie Holiday spent much of her career being ...,13.35,152.0,6.7,en,"Music, Drama, History",https://image.tmdb.org/t/p/original/vEzkxuE2sJ...
9825,1984-09-23,Threads,Documentary style account of a nuclear holocau...,13.35,186.0,7.8,en,"War, Drama, Science Fiction",https://image.tmdb.org/t/p/original/lBhU4U9Eeh...